@import "fonts";
@import "null";
@import "range";

// ====================================================================
.wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background: -o-linear-gradient(left, #3625af, #c46bd5);
  background: -webkit-gradient(linear, left top, right top, from(#3625af), to(#c46bd5));
  background: linear-gradient(to right, #3625af, #c46bd5);
  min-height: 100vh;
  width: 100vw;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  @media (max-width: 1440px) {
    min-width: 100%;
  }
  @media (max-width: 479.98px) {
    min-width: 320px;
    width: 100%;
  }
}
main {
  -webkit-box-flex: 1;
  -webkit-flex: auto;
  -ms-flex: auto;
  flex: auto;
}

//=====================================================================
body {
  &._lock {
    overflow: hidden;
  }
}

.container {
  max-width: 1642px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 20px;

  @media (max-width: 1642px) {
    width: 100%;
    padding: 0 20px;
  }
  @media (max-width: 767.98px) {
    padding: 0 16px;
  }
  @media (max-width: 479.98px) {
    min-width: 320px;
    width: 100%;
  }
}

//=====================================================================
.header {
  position: relative;
  .container {
    overflow: visible;
  }
  // .header__body

  &__body {
    padding: 25px 0 25px 96px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  // .header__logo

  &__logo {
    display: block;
    width: 151px;
    height: 41px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    background: url("../img/logo.jpg") center / contain no-repeat;
    z-index: 101;
  }

  // .header__nav

  &__nav {
    padding-top: 5px;
    margin-right: 50px;
  }

  // .header__nav-list

  &__nav-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  // .header__list-item

  &__list-item {
    margin-right: 40px;
    text-transform: uppercase;
    cursor: pointer;
    a {
      font-family: "Inter";
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 19px;
      text-transform: uppercase;
    }
    &:last-of-type {
      margin-right: 0;
    }
  }

  // .header__sublist

  &__sublist {
    position: relative;
    padding-left: 28px;
    font-weight: 600;
    z-index: 2;
    ul {
      position: absolute;
      top: 30px;
      left: -4px;
      background: #ffffff;
      border-radius: 7px;
      padding: 5px 39px 5px 19px;
      -webkit-transform: scaleY(0);
      -ms-transform: scaleY(0);
      transform: scaleY(0);
      z-index: -1;
    }

    &.open {
      font-weight: 400;
      ul {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scaleY(1);
        z-index: 10;
        -webkit-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
      }
      &::before {
        content: url("../img/close.svg");
        position: absolute;
        width: 24px;
        height: 24px;
        top: -4px;
        left: 0;
        margin-right: 4px;
      }
    }
  }

  // .header__list-subitem

  &__list-subitem {
    margin-bottom: 13px;
    a {
      color: #5c39ba;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 19px;
      text-transform: uppercase;
    }
    &:last-of-type {
      margin-bottom: 0;
    }
  }

  // .header__call

  &__call {
    display: block;
    padding: 23px 47px;
    background: #302594;
    -webkit-box-shadow: 0px 22px 22px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 22px 22px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    z-index: 101;
  }

  // .header__nav-mobile

  &__nav-mobile {
    position: relative;
    display: none;
  }

  @media (max-width: 1500px) {
    &__body {
      padding: 25px 0 25px 0;
    }
    &__nav {
      margin-right: 0;
    }
    &__list-item {
      margin-right: 20px;
      &:last-of-type {
        margin-right: 0;
      }
    }
  }
  @media (max-width: 1200px) {
    &__nav {
      position: absolute;
      width: 100%;
      height: 100vh;
      top: -100vh;
      left: 0;
      padding: 80px 30px 20px;
      background: rgba($color: #3625af, $alpha: 0.8);
      -webkit-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
      z-index: 100;
      &.show {
        top: 0;
      }
    }
    &__nav-list {
      display: block;
    }
    &__list-item {
      margin: 0 0 20px;
    }
    &__sublist {
      padding-left: 0;
      &::before {
        display: none;
      }
      ul {
        position: relative;
        background: transparent;
        z-index: 100;
        -webkit-transform: scaleY(1);
        -ms-transform: scaleY(1);
        transform: scaleY(1);
        top: 0;
        left: 0;
      }
    }
    &__list-subitem {
      a {
        color: #fff;
      }
    }
    &__nav-mobile {
      display: block;
    }
    &__call {
      padding: 12px 26px;
      font-size: 12px;
    }
  }
  @media (max-width: 991.98px) {
  }
  @media (max-width: 767.98px) {
  }
  @media (max-width: 479.98px) {
    &__logo {
      width: 120px;
    }
    &__call {
      width: 40px;
      height: 40px;
      padding: 0;
      border-radius: 50%;
      background: url("../img/call.svg") center / 40% no-repeat, #302594;
      font-size: 0;
      line-height: 0;
    }
  }
}

.nav-mobile {
  margin-left: 20px;
  width: 40px;
  height: 30px;
  z-index: 101;
  // .nav-mobile__item

  &__item {
    height: 4px;
    width: 40px;
    background: #fff;
    border-radius: 20px;
    position: absolute;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    // .nav-mobile__item_1

    &_1 {
      top: 2px;
    }

    // .nav-mobile__item_2

    &_2 {
      top: 14px;
    }

    // .nav-mobile__item_3

    &_3 {
      bottom: 0;
    }
  }
  &.active {
    .nav-mobile__item {
      -webkit-transition: all 0.3s ease-out;
      -o-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out;

      // .nav-mobile__item_1

      &_1 {
        top: 14px;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }

      // .nav-mobile__item_2

      &_2 {
        display: none;
      }

      // .nav-mobile__item_3

      &_3 {
        top: 14px;
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
    }
  }

  @media (max-width: 479.98px) {
    width: 30px;
    height: 22px;
    &__item {
      width: 30px;
      height: 3px;
      &_1 {
        top: 0px;
      }

      // .nav-mobile__item_2

      &_2 {
        top: 10px;
      }

      // .nav-mobile__item_3

      &_3 {
      }
    }
  }
}

//==================================================================
//MAIN
.main {
  position: relative;
  padding: 72px 0 0;
  // .main__body

  &__body {
    // padding-bottom: 72px;
  }

  &__flex-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  // .main__text-block

  &__text-block {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 570px;
    -ms-flex: 0 0 570px;
    flex: 0 0 570px;
    margin-right: 34px;
    padding: 5px 0;
    z-index: 2;
  }

  // .main__title

  &__title {
    margin-bottom: 40px;
    font-style: normal;
    font-weight: 900;
    font-size: 55px;
    line-height: 56px;
    sup {
      font-size: 30px;
    }
  }

  // .main__subtitle

  &__subtitle {
    position: relative;
    margin-bottom: 78px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    &::after {
      position: absolute;
      content: "";
      width: 173.03px;
      height: 5px;
      left: 0;
      bottom: -11px;

      background: #baf1ff;
    }
  }

  // .main__list

  &__list {
    max-width: 82%;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 62px;
  }

  // .main__list-item

  &__list-item {
    padding: 2px 0 2px 60px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    background-position: left bottom;
    background-size: contain;
    background-repeat: no-repeat;

    &_1 {
      background-image: url("../img/car.svg");
    }
    &_2 {
      background-image: url("../img/guarantee.svg");
    }
    &_3 {
      background-image: url("../img/time.svg");
    }
  }

  // .main__form

  &__form {
    position: relative;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 510px;
    -ms-flex: 0 0 510px;
    flex: 0 0 510px;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 10px;
    z-index: 2;
  }

  // .main__img

  &__img {
    position: absolute;
    right: 0;
    top: 28px;
    z-index: 0;
  }

  &__scroll {
    position: relative;
    max-width: 60px;
    margin: 41px auto 72px;
    text-align: center;
    z-index: 2;
  }
  &__scroll-icon {
    width: 33px;
    height: 32px;
    margin: 0 auto 15px;
    background: url("../img/scroll.svg") center / contain no-repeat;
  }
  &__scroll-text {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 107%;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
  }

  @media (max-width: 1500px) {
    &__img {
      right: -200px;
    }
  }
  @media (max-width: 1200px) {
    &__img {
      display: none;
    }
    &__text-block {
      -webkit-box-flex: 0;
      -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
      flex: 0 1 auto;
    }
    &__title {
      font-size: 40px;
      line-height: 46px;
      margin-bottom: 30px;
      sup {
        font-size: 20px;
      }
    }

    &__subtitle {
      position: relative;
      margin-bottom: 50px;
      font-size: 20px;
      line-height: 24px;
      &::after {
        width: 120px;
        height: 3px;
      }
    }

    &__list {
      max-width: 100%;
      display: block;
    }
    &__list-item {
      margin-bottom: 20px;
      padding: 10px 0 10px 60px;
      background-position: left center;
      background-size: 37px 37px;
    }
  }
  @media (max-width: 991.98px) {
    &__flex-wrapper {
      display: block;
    }
    &__img {
      display: block;
      opacity: 0.2;
    }
    &__text-block {
    }

    &__form {
      max-width: 510px;
      margin: 0 auto;
    }
  }
  @media (max-width: 767.98px) {
    &__img {
      display: none;
    }
  }
  @media (max-width: 479.98px) {
    &__form {
      padding: 15px;
    }
  }
}

.form {
  color: #000000;
  // .form__title

  &__title {
    margin-bottom: 24px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
  }

  &__fieldset {
    margin-bottom: 6px;
  }
  &__fieldset_2,
  &__fieldset_3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  &__fieldset_2 {
    margin-bottom: 34px;
  }
  &__fieldset_3 {
    position: relative;
    margin-bottom: 35px;
    padding-right: 27px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  // .form__legend

  &__legend {
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 108%;
    text-transform: uppercase;
    &_1 {
      margin-bottom: -6px;
    }
    &_2 {
      margin-bottom: 23px;
    }
    &_3 {
      margin-bottom: 23px;
    }
  }

  // .form__label

  &__label {
    position: relative;
    display: block;
    padding-left: 40px;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    cursor: pointer;
    &::before {
      content: url("../img/check.svg");
      position: absolute;
      left: 0;
      top: -6px;
      width: 31px;
      height: 31px;
      border-radius: 50%;
    }
    &_1 {
      margin-right: 44px;
      &::before {
        top: 0;
      }
    }
    &_2 {
      margin-right: 25px;
    }
    &_3 {
      margin-right: 44px;
    }
    &:hover {
      &::before {
        -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg);
        -webkit-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
      }
    }
  }

  input:checked + &__label {
    &::before {
      // content: url("../img/check_bg.svg");
      background-color: #302594;
    }
  }
  &__input + &__lable {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  // .form__radio

  &__radio {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }

  &__fieldset-range {
    position: relative;
  }

  &__range-value {
    position: absolute;
    top: -17px;
    right: 0;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    sup {
      font-size: 10px;
    }
  }

  &__submit {
    display: block;
    padding: 21px 46px;
    margin: 0 auto;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    background: #302594;
    -webkit-box-shadow: 0px 22px 22px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 22px 22px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #fff;
    &:hover {
      opacity: 0.8;
    }
    &:focus {
      -webkit-box-shadow: 0px 0 0 rgba(0, 0, 0, 0.15);
      box-shadow: 0px 0 0 rgba(0, 0, 0, 0.15);
      -webkit-transform: translateY(2px);
      -ms-transform: translateY(2px);
      transform: translateY(2px);
    }
  }

  @media (max-width: 479.98px) {
    &__fieldset_3 {
      padding-right: 0;
    }

    &__submit {
      width: 100%;
      font-size: 14px;
    }

    &__label {
      position: relative;
      padding-left: 36px;
      margin-right: 15px;
      &_1 {
        margin-bottom: 20px;
      }
      &_2 {
        margin-bottom: 28px;
      }
    }
    &__fieldset_2 {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
      -ms-flex-align: start;
      align-items: flex-start;
    }
    &__fieldset_3 {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 40px 20px;
    }
  }
}
